################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConfluentKafkaDemo/.vs/
/ConfluentKafkaDemo/ConsumerClient1/bin
/ConfluentKafkaDemo/ConsumerClient1/obj
/ConfluentKafkaDemo/ConsumerClient2/bin
/ConfluentKafkaDemo/ConsumerClient2/obj
/ConfluentKafkaDemo/ProducerApp/bin
/ConfluentKafkaDemo/ProducerApp/obj
/ConfluentKafkaDemo/ProducerApp.WebApi/bin
/ConfluentKafkaDemo/ProducerApp.WebApi/obj
/ConfluentKafkaDemo/ConsumerClient.Console/bin
/ConfluentKafkaDemo/ConsumerClient.Console/obj
/ConfluentKafkaDemo/ConsumerClient.Console2/bin
/ConfluentKafkaDemo/ConsumerClient.Console2/obj
/ConfluentKafkaDemo/MessageBroker.Core/bin
/ConfluentKafkaDemo/MessageBroker.Core/obj
/ConfluentKafkaDemo/MessageBroker.Infrastructure/bin
/ConfluentKafkaDemo/MessageBroker.Infrastructure/obj
/ConfluentKafkaDemo/ProducerApp.Console/bin
/ConfluentKafkaDemo/ProducerApp.Console/obj
/ConfluentKafkaDemo/ConsumerClient.Wpf/bin
/ConfluentKafkaDemo/ConsumerClient.Wpf/obj
