################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConfluentKafkaDemo/.vs/
/ConfluentKafkaDemo/ConsumerClient1/bin/
/ConfluentKafkaDemo/ConsumerClient1/obj
/ConfluentKafkaDemo/ConsumerClient2/bin/
/ConfluentKafkaDemo/ConsumerClient2/obj
/ConfluentKafkaDemo/ProducerApp/bin/
/ConfluentKafkaDemo/ProducerApp/obj
/ConfluentKafkaDemo/ConsumerClient1.Clean/bin/
/ConfluentKafkaDemo/ConsumerClient1.Clean/obj
/ConfluentKafkaDemo/ConsumerClient2.Clean/bin/
/ConfluentKafkaDemo/ConsumerClient2.Clean/obj
/ConfluentKafkaDemo/ProducerApp.Clean/bin/
/ConfluentKafkaDemo/ProducerApp.Clean/obj
/ConfluentKafkaDemo/ConfluentKafkaDemo.Core/bin/
/ConfluentKafkaDemo/ConfluentKafkaDemo.Core/obj
/ConfluentKafkaDemo/ConfluentKafkaDemo.Infrastructure/bin/
/ConfluentKafkaDemo/ConfluentKafkaDemo.Infrastructure/obj
